/* google fonts */

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');




/* background image, custom */

#bg-image {
    background-image: url(../images/dublin-morning.jpg);
    background-position: fixed center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}





/* map dimensions, custom */

#map {
    height: 500px;
    width: 70%;
    margin: 20px;
    padding: 10px;
    border: solid 5px pink;
}

/* navbar, custom */

.nav-font {


    font-weight: 500;
    font-family: 'Comfortaa', cursive;
}

.nav-font:hover {
    color: pink;
}

/* Info text custom */

.info-text {
    font-family: 'Arimo', sans-serif;

    font-style: italic;
    margin-left: 20px;
    font-weight: 200;
}

.all-fonts {
    color: #f8f9fa;
}


/* map container custom */

.map-container {
    position: fixed;
    top: 27%;
    left: 27%;
    margin-bottom: 50px;
}


.clear-floats {
    clear: both;
}
/* footer */
.footer{
  background: #152F4F;
  color:white;
  position: bottom;
  height: 200px;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
  clear: both;
  
  .links {
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
