/* google fonts */

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');




/* background image, custom */

#bg-image {
    background-image: url(../images/dublin-morning.jpg);
    background-position: fixed center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: absolute;
}





/* map dimensions, custom */

#map {
    height: 500px;
    width: 70%;
    margin: 20px;
    padding: 10px;
    border: solid 5px white;
}

/* navbar, custom */

.nav-font {


    font-weight: 500;
    font-family: 'Comfortaa', cursive;
}

.nav-font:hover {
    color: pink;
}

/* main section and info custom */

.headline {
    font-family: 'Comfortaa', cursive;
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
}

.all-fonts {
    color: #f8f9fa;
}

.sub-text {
    font-weight: 450;
    font-family: 'Arimo', sans-serif;

}

/* map container custom */

.map-container {
    position: static;
    top: 27%;
    left: 27%;
    margin-bottom: 80px;
    margin-top: 50px;
}



.main-section {
    margin-bottom: 150px;
}

/* footer custom code */

footer {
    background-color: transparent;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
    position: fixed;
    bottom: 0;
    border-top-style: ridge; 
}

.link {
     font-weight: 450;
    font-family: 'Arimo', sans-serif;
    color: pink;
}

.link-block {
text-align: right;
padding-right: 10px;
}


/* media queries */


@media screen and (max-width: 768px) {
 #bg-image  {
     background-color: #1aa3ff;
     background-image: none;
    
 
  }
 #map {
     height: 400px;
 }
 
  
}
